/* Импорт шрифта Golos Text из Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&display=swap');

/* Импорт переменных и миксинов */
@import 'base/variables';

/* Основные стили */
* {
    font-family: 'Golos Text', sans-serif;
    scroll-behavior: smooth;
    font-size: 1rem;
}

html {
    font-size: 1.111vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    margin: 0 auto;
    padding: 0 16px;
}

/* Подключение стилей кнопок */
@import 'blocks/buttons/buttons';

/* Подключение стилей блоков */
@import 'blocks/header/header';

/* Подключение шрифта Antonym*/
@font-face {
    font-family: 'Antonym';
    src: url('fonts/Antonym.eot');
    src: local('Antonym'),
        url('fonts/Antonym.eot?#iefix') format('embedded-opentype'),
        url('fonts/Antonym.woff2') format('woff2'),
        url('fonts/Antonym.woff') format('woff'),
        url('fonts/Antonym.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}