@media (min-width: 1440.02px) {
    .benefits {
        padding: 64px 0;
        &__content-wrapper {
            padding: 0 32px;
            gap: 56px 168px;
        }
        &__card-container {
            width: 300px;
            gap: 12px;
        }
        &__icon {
            width: 56px;
            height: 56px;
        }
    }
}

@media (max-width: 1024.02px) {
    .benefits {
        padding: 6.25vw 1.5625vw;
        &__content-wrapper {
            padding: 0;
            gap: 4.6875vw 3.125vw;
        }
        &__card-container {
            width: 29.595vw;
            gap: 1.1719vw;
        }
        &__icon {
            width: 5.4688vw;
            height: 5.4688vw;
        }
        &__card-title {
            font-size: 1.125rem;
        }
    }
}

@media (max-width: 768.02px) {
    .benefits {
        padding: 7.2917vw 6.25vw;
        &__content-wrapper {
            gap: 5.2083vw 2.0833vw;
        }
        &__card-container {
            width: 42.7083vw;
            gap: 1.5625vw;
            padding: 0 4.1667vw 0 0;
        }
        &__icon {
            width: 5.2083vw;
            height: 5.2083vw;
        }
        &__card-title {
            font-size: 1.25rem;
        }
    }
}

@media (max-width: 526.02px) {
    .benefits {
        padding: 14.9333vw 4.2667vw;
        &__content-wrapper {
            flex-direction: column;
            gap: 10.6667vw
        }
        &__card-container {
            width: 100%;
            gap: 3.2vw;
            padding: 0;
        }
        &__icon {
            width: 10.6667vw;
            height: 10.6667vw;
        }
    }
}