@media (min-width: 1440.02px) {
    .first-screen {
        padding-top: 56px;
        .container {
            padding: 0 32px;
        }
        .article-container {
            padding: 56px 117px 56px 0;
            gap: 68px;
            .article {
                width: 569.4px;
                gap: 32px;
            }
            .process {
                width: 555px;
                padding-top: 8px;
                gap: 24px;
                &__list {
                    gap: 8px;
                }
                &__item {
                    padding: 4.3517px auto;
                    height: 68px;
                }
            }
        }
        .image-container {
            width: 672px;
            height: 672px;
            padding: 47px 151.8px 70px 123px;
            .video-box {
                width: 405px;
                height: 555px;
                border-radius: 19px;
            }
            img {
                &.image-table {
                    width: 281px;
                    height: 188px;
                    top: 156px;
                }
                &.image-profile {
                    width: 224px;
                    height: 136px;
                    right: 24px;
                    bottom: 158px;
                }
            }
        }   
    }
}

@media (max-width: 1024.02px) {
    .first-screen {
        padding-top: 5.4688vw;
        .container {
            padding: 0 1.5625vw;
        }
        .article-container {
            padding: 3.9063vw 0;
            gap: 6.6406vw;
            .article {
                width: 46.875vw;
                gap: 2.3438vw;
                padding-right: 3.9063vw;
                p {
                    font-size: 1rem;
                }
            }
            .process {
                width: 46.875vw;
                padding-top: .7813vw;
                gap: 2.3438vw;
                &__list {
                    gap: .3906vw;
                }
                &__item {
                    padding: .425vw auto;
                    height: 6.6406vw;
                }
            }
        }
        .image-container {
            width: 50vw;
            height: 57.0313vw;
            padding: 6.0547vw 9.3303vw 10.0586vw 9.2773vw;
            background-size: 50vw;
            background-repeat: no-repeat;
            background-position: 0 2.32vw;
            .video-box {
                width: 29.8299vw;
                height: 40.918vw;
                border-radius: 1.1719vw;
            }
            img {
                &.image-table {
                    width: 20.4351vw;
                    height: 13.6719vw;
                    top: 10.7422vw;
                }
                &.image-profile {
                    width: 15.4412vw;
                    height: 9.375vw;
                    right: .7813vw;
                    bottom: 20.1172vw;
                }
            }
        }   
    }
}

@media (max-width: 768.02px) {
    .first-screen {
        padding: 7.8125vw 6.25vw 0 6.25vw;
        .container {
            padding: 0;
            flex-direction: column-reverse;
            padding-bottom: 5.2083vw;
            align-items: center;
            flex: 1 0 0;
        }
        .article-container {
            margin-top: -10.1563vw;
            padding: 0;
            align-items: center;
            gap: 6.25vw;
            align-self: stretch;
            .article {
                align-items: center;
                gap: 3.125vw;
                align-self: stretch;
                width: 100%;
                padding: 0;
                .title {
                    width: 65.1042vw;
                    text-align: center;
                }
                p {
                    font-size: 1.0625rem;
                    width: 65.1042vw;
                    text-align: center;
                }
            }
            .process {
                width: 87.5vw;
                padding-top: 1.0417vw;
                align-items: center;
                gap: 3.125vw;
                &__title {
                    font-size: 1.0625rem;
                }
                &__list {
                    gap: 1.0417vw;
                }
                &__item {
                    padding: 0 auto;
                    height: 8.8542vw;
                }
            }
        }
        .image-container {
            margin: 0 14.974vw 0 18.3594vw;
            width: 66.6667vw;
            height: 78.3854vw;
            padding: 8.0729vw 14.5237vw 0 12.3698vw;
            background-size: 66.6667vw;
            background-position: 0 3.17vw;
            .video-box {
                width: 39.7732vw;
                height: 54.5573vw;  
                border-radius: 1.5625vw;
            }
            img {
                &.image-table {
                    width: 27.2467vw;
                    height: 18.2292vw;
                    top: 14.3229vw;
                }
                &.image-profile {
                    width: 20.5883vw;
                    height: 12.5vw;
                    right: 3.125vw;
                    top: 36.7188vw;
                }
            }
        }   
    }
}

@media (max-width: 526.02px) {
    .first-screen {
        padding: 16vw 4.2667vw 0 4.2667vw;
        .container {
            padding: 4.2667vw 0 8.5333vw 0;
            gap: 6.4vw;
        }
        .article-container {
            margin: 0;
            padding: 0;
            gap: 17.0667vw;
            .article {
                gap: 6.4vw;
                width: 100%;
                padding: 0;
                align-items: start;
                .title {
                    width: 100%;
                    text-align: left;
                }
                p {
                    width: 100%;
                    text-align: left;
                }
            }
            .process {
                width: 100%;
                padding-top: 2.1333vw;
                align-items: start;
                gap: 6.4vw;
                &__title {
                    font-size: 1rem;
                }
                &__list {
                    gap: 2.1333vw;
                }
                &__item {
                    height: 18.1333vw;
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
        .image-container {
            margin: 0;
            width: 100%;
            height: 82.9333vw;
            padding: 0;
            background-position: center;
            background-size: cover;
            background-image: url('/images/first-screen/image_background_526.png');
            .video-box {
                width: 56.8vw;
                height: 77.8667vw;
                overflow: hidden;
                margin: 2.4vw 0 0 2.4vw;
                border-radius: 2.4vw;
            }
            img {
                &.image-table {
                    width: 43.4667vw;
                    height: 30.1333vw;
                    top: 17.6vw;
                    left: 44.2667vw;
                }
                &.image-profile {
                    width: 34.6667vw;
                    height: 21.3333vw;
                    left: 44.2667vw;
                    top: 49.8667vw;
                }
            }
        }   
    }
}