.first-screen {
    background-color: $yellow;
    padding-top: 3.889vw;
    .container {
        padding: 0 2.222vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .article-container {
        display: flex;
        padding: 3.889vw 8.125vw 3.889vw 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 4.722vw;
        flex: 1 0 0;
        h1 {
            font-weight: 500;
            i {
                font-weight: 400;
            }
        }
        .article {
            display: flex;
            width: 39.542vw;
            flex-direction: column;
            align-items: flex-start;
            gap: 2.222vw;
            p {
                font-size: 1.25rem;
                line-height: 140%;
            }
        }
        .process {
            display: flex;
            width: 38.542vw;
            padding-top: 0.556vw;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.667vw;
            border-top: 0.069vw solid rgba($black, .1);
            &__title {
                font-size: 1rem;
                opacity: .5;
            }
            &__list {
                display: flex;
                align-items: flex-start;
                gap: 0.556vw;
            }
            &__item {
                padding: 0.302vw auto;
                height: 4.722vw;
            }
        }
    }
    .image-container {
        width: 46.667vw;
        height: 46.667vw;
        padding: 3.264vw 10.542vw 4.861vw 8.542vw;
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('/images/first-screen/image_background.png');
        position: relative;
        .video-box {
            width: 28.125vw;
            height: 38.542vw;
            border-radius: 1.319vw;
            overflow: hidden;
            video {
                width: 100%;
            }
        }
        img {
            position: absolute;
            &.image-table {
                width: 19.514vw;
                height: 13.056vw;
                left: 0;
                top: 10.972vw;
            }
            &.image-profile {
                width: 15.556vw;
                height: 9.444vw;
                right: 1.667vw;
                bottom: 10.972vw;
            }
        }
    }   
}