.find-freelancer {
    background-color: $biege_2;
    padding: 3.3333vw 2.2222vw;
    &__content-wrapper {
        display: flex;     
        align-items: flex-start;
        gap: 2.0833vw;
        border-radius: 2.7778vw;
        background-color: $yellow;
    }
    &__left-container {
        display: flex;
        padding-top: 5vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5972vw;
    }
    &__title-container {
        width: 46.6667vw;
        padding-left: 3.3333vw;
    }
    &__image-container {
        width: 46.6667vw;
        height: 27.7778vw;
    }
    &__image {
        width: 100%;
    }
    &__instruction-list-container {
        display: flex;
        padding: 5vw 8.125vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.1111vw;
    }
    &__instruction-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.1111vw;
    }
    &__icon {
        width: 3.8889vw;
        height: 1.6667vw;
    }
    &__text-container {
        display: flex;
        padding: 0.8333vw 0;
        justify-content: center;
        align-items: center;
        width: 30.4167vw;
        border-top: 0.0694vw solid rgba($black, 0.1);
    }
    &__text {
        font-size: 1.125rem;
        line-height: 140%;
        color: $black;
    }
    &__action-container {
        display: flex;
        padding-top: 2.2222vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.1111vw;
    }
    &__note {
        font-size: 0.9375rem;
        color: rgba($black, 0.5);
    }
}