@media (min-width: 1440.02px) {
    .title {
        &_h1, &_h1 i {
            letter-spacing: -1.28px;
        }
        &_h2, &_h2 i {
            letter-spacing: -1px;
        }
    }
}

@media (max-width: 1024.02px) {
    .title {
        &_h1, &_h1 i {
            letter-spacing: -0.0938vw;
            font-size: 3rem;
        }
        &_h2, &_h2 i {
            letter-spacing: -0.0703vw;
            font-size: 2.25rem;
        }
    }
}

@media (max-width: 768.02px) {
    .title {
        &_h1, &_h1 i {
            letter-spacing: -0.099vw;
            font-size: 2.375rem;
        }
        &_h2, &_h2 i {
            letter-spacing: -0.0781vw;
            font-size: 1.875rem;
        }
    }
}

@media (max-width: 526.02px) {
    .title {
        &_h1, &_h1 i {
            letter-spacing: -0.2027vw;
        }
        &_h2, &_h2 i {
            letter-spacing: -0.16vw;
        }
    }
}