.title {
    font-family: Antonym;
    i {
        font-family: Antonym;
    }
    &_h1, &_h1 i {
        letter-spacing: -0.0889vw;
        font-size:  4rem;
        line-height: 110%;
    }
    &_h2, &_h2 i {
        font-size: 3.125rem;
        letter-spacing: -0.0694vw;
    }
}