header {
    padding: 0.8333vw 2.2222vw 0.8333vw 2.2222vw;
    position: fixed;
    z-index: 10000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: $yellow;
    border: none;
    transition: all 0.169s;
    &.border {
        transition: all 0.169s;
        border-bottom: 0.0694vw solid $black;
    }
    .logo_box {
        display: flex;
        flex-direction: column;
        width: 11.4584vw;
        height: 1.6667vw;
        img {
            width: 100%;
        }
    }
    .wrapper {
        display: flex;
        padding-left: 2.7778vw;
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.2222vw;
            &__link {
                font-size: 0.9375rem;
                position: relative;
                transition: all 0.338s;
                &:hover {
                    &::before {
                        width: 100%;
                        left: 0;
                    }
                }
                &::before {
                    transition: all 0.169s;
                    position: absolute;
                    content: "";
                    bottom: -0.1389vw;
                    left: 50%;
                    width: 0%;
                    height: 0.0694vw;
                    background-color: $black;
                }
                &_faded {
                    color: rgba($black, .32);
                    pointer-events: none;
                    &.soon-label {
                        position: relative;
                        &::after {
                            width: 2.4306vw;
                            height: 0.9722vw;
                            position: absolute;
                            content: "скоро";
                            font-size: 0.75rem;
                            letter-spacing: -0.017vw;
                            color: rgba($black, .5);
                            top: -0.85vw;
                            left: calc(100% - 0.7639vw);
                            padding: 0.05vw 0.278vw 0.15vw 0.278vw;
                            width: 2.9861vw;
                            height: 1.1111vw;
                            transform: rotate(-7deg);
                            border-radius: 1.6667vw;
                            background-color: $white;
                        }
                    }
                }
            }
        }
        .login_container {
            display: flex;
            height: 3.0556vw;
            justify-content: flex-end;
            align-items: center;
            gap: 0.6944vw;
        }
    }
    .buttons-mobile {
        display: none;
    }
    .menu-hamburger {
        display: none;
    }
}