@media (min-width: 1440.02px) {
    header {
        padding: 12px 32px 12px 32px;
        &.border {
            border-bottom: 1px solid $black;
        }
        .logo_box {
            width: 165px;
            height: 24px;
        }
        .wrapper {
            padding-left: 40px;
            .menu {
                gap: 32px;
                &__link {
                    font-size: 0.9375rem;
                    &::before {
                        bottom: -2px;
                        height: 1px;
                    }
                    &_faded {
                        &:last-child {
                            &::before {
                                letter-spacing: -0.2448px;
                                top: -12.24px;
                                left: calc(100% - 11px);
                                padding: 0.72px 4px 2.16px 4px;
                                width: 43px;
                                height: 16px;
                                border-radius: 24px;
                            }
                        }
                    }
                }
            }
            .login_container {
                height: 44px;
                gap: 10px;
            }
        }
    }
}

@media (max-width: 1024.02px) {
    header {
        padding: 1.1719vw 1.5625vw 1.1719vw 1.5625vw;
        &.border {
            transition: all 0.169s;
            border-bottom: .0977vw solid $black;
        }
        .logo_box {
            width: 10.7422vw;
            height: 1.5625vw;
        }
        .wrapper {
            padding-left: 3.9063vw;
            .menu {
                gap: 1.5625vw;
                &__link {
                    font-size: .875rem;
                    &::before {
                        bottom: -0.1953vw;
                    }
                    &_faded {
                        &.soon-label {
                            &::after {
                                letter-spacing: -0.0234vw;
                                top: -1.293vw;
                                left: calc(100% - 1.0742vw);
                                padding: 0 .3906vw .1953vw .3906vw;
                                width: 4.218vw;
                                height: 1.3672vw;
                                border-radius: 2.3438vw;
                            }
                        }
                    }
                }
            }
            .login_container {
                height: 4.2969vw;
                gap: .9766vw;
            }
        }
    }
}

@media (max-width: 768.02px) {
    header {
        padding: 1.0417vw 2.0833vw;
        &.white {
            background-color: $white;
        }
        &.border {
            transition: all 0.169s;
            border-bottom: .1302vw solid $black;
        }
        .logo_box {
            width: 14.3229vw;
            height: 2.0833vw;
        }
        .wrapper {
            height: 5.7292vw;
            gap: 1.3021vw;
            justify-content: center;
            align-content: center;
            flex: 0 1 0;
            padding: 0;
            .menu {
                transition: all 0.169s;
                display: flex;
                opacity: 0;
                pointer-events: none;
                &.white {
                    opacity: 1;
                    pointer-events: all;
                }
                position: absolute;
                top: 7.5521vw;
                right: 0;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2.6042vw;
                align-self: stretch;
                background-color: $white;
                border-radius: 0 0 3.125vw 3.125vw;
                z-index: 100;
                padding-top: 3.3854vw;                       
                &__link {
                    font-size: .9375rem;
                    &:hover {
                        &::before {
                            display: none;
                        }
                    }
                    &:active {
                        opacity: 0.69;
                        transition: all .169s;
                    }
                    &_faded {
                        &.soon-label {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
                .buttons-mobile {
                    display: flex;
                    padding: 7.2917vw 2.0833vw 5.2083vw 2.0833vw;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.6927vw;
                    align-self: stretch;
                }
            }
            .login_container {
                display: block; 
                .btn:first-child {
                    display: none;
                }
            }
        }
        .menu-hamburger {
            display: flex;
            padding: 1.1719vw .9115vw;
            height: 5.0781vw;
            width: 5.7292vw;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            gap: 1.0417vw;
            cursor: pointer;
            transition: all 0.169s;
            span {
                width: 3.9063vw;
                height: .1302vw;
                background-color: $black;
            }
            &.close {
                gap: 0;
                span:nth-child(1) {
                    width: 3.9635vw;
                    transform: rotate(45deg);
                    margin-top: 1.3021vw;
                }
                span:nth-child(2) {
                    display: none;
                }
                span:nth-child(3) {
                    width: 3.9635vw;
                    transform: rotate(-45deg);
                    margin-bottom: 1.3021vw;
                }
            }
        }
        .overlay {
            position: absolute;
            top: 55.5vw;
            left: 0;
            width: 100vw;
            height: calc(100vh - 55.599vw);
            background-color: rgba($black, 0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.169s;
            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}

@media (max-width: 526.02px) {
    header {
        padding: 2.1333vw 4.2667vw;
        &.border {
            border-bottom: .2667vw solid $black;
        }
        .logo_box {
            width: 29.3333vw;
            height: 4.2667vw;
        }
        .wrapper {
            height: 11.7333vw;
            gap: 2.6667vw;
            align-items: center;
            .menu {
                top: 15.4667vw;
                gap: 5.3333vw;
                border-radius: 0 0 6.4vw 6.4vw;
                padding-top: 6.9333vw;                       
                .buttons-mobile {
                    padding: 6.4vw 4.2667vw 10.6667vw 4.2667vw;
                    gap: 3.4667vw;
                }
            }
            .login_container {
                height: 11.7333vw;
                padding-top: 1.6vw;
            }
        }
        .menu-hamburger {
            padding: 2.4vw 1.8667vw;
            height: 10.4vw;
            width: 11.7333vw;
            gap: 2.1333vw;
            span {
                width: 8vw;
                height: .2667vw;
                background-color: $black;
            }
            &.close {
                gap: 0;
                span:nth-child(1) {
                    width: 8.1173vw;
                    transform: rotate(45deg);
                    margin-top: 2.6667vw;
                }
                span:nth-child(2) {
                    display: none;
                }
                span:nth-child(3) {
                    width: 8.1173vw;
                    transform: rotate(-45deg);
                    margin-bottom: 2.6667vw;
                }
            }
        }
        .overlay {
            top: 100vw;
            height: calc(100vh - 100vw);
        }
    }
}