.btn {
    display: flex;
    height: 3.6111vw;
    padding: .2778vw .2778vw .2778vw 1.6667vw;
    justify-content: space-between;
    align-items: center;
    gap: .7639vw;
    border-radius: 2.7778vw;
    border: 0.1389vw solid $black;
    background-color: $black;
    color: $white;
    // text-align: center;
    font-size: 1.125rem;
    transition: all 0.338s;
    position: relative;
    .arrow-container {
        width: 3.0556vw;
        height: 3.0556vw;
        img {
            width: 100%;
        }
    }
    &:hover {
        background-color: rgba($black, 0.75);
    }
    &__header {
        display: flex;
        height: 3.056vw;
        padding: 0.278vw 1.389vw;
        border: 0.069vw solid $black;
        background-color: $white;
        font-size: 0.9375rem;
        color: $black;
        background-color: rgba($black, 0);
        &:hover {
            background-color: $black;
            color: $white;
        }
        &_invisible {
            border: none;
            &:hover {
                background-color: rgba($black, 0.08);
                color: $black;
            }
        }
    }
}