@media (min-width: 1440.02px) {
    .executors {
        padding: 64px 0;
        &__content-wrapper {
            padding: 0 32px;
            gap: 32px;
        }
        &__image-container {
            width: 672px;
            height: 580px;
        }
        &__article-container {
            padding: 64px 117px 0 0;
            gap: 48px;
        }
        &__title-container {
            width: 555px;
        }
        &__benefits-list-container {
            width: 555px;
            gap: 16px;
        }
        &__benefit-container {
            height: 56px;
            gap: 24px;
        }
        &__icon {
            width: 56px;
            height: 56px;
        }
        &__text {
            width: 475px;
        }
    }
}

@media (max-width: 1024.02px) {
    .executors {
        padding: 6.25vw 1.5625vw;
        &__image-container {
            width: 46.875vw;
            height: 40.4297vw;
        }
        &__article-container {
            padding: 1.5625vw 3.9063vw 0 0;
            gap: 4.6875vw;
        }
        &__title-container {
            width: 42.9688vw;
        }
        &__benefits-list-container {
            width: 42.9688vw;
            gap: 1.5625vw;
        }
        &__benefit-container {
            height: 5.4688vw;
            gap: 2.3438vw;
        }
        &__icon {
            width: 5.4688vw;
            height: 5.4688vw;
        }
        &__text {
            width: 35.1563vw;
            font-size: 1rem;
        }
    }
}

@media (max-width: 768.02px) {
    .executors {
        padding: 7.2917vw 6.25vw;
        &__content-wrapper {
            flex-direction: column;
            align-items: flex-start;
            gap: 2.0833vw;
            align-self: stretch;
        }
        &__image-container {
            width: 87.5vw;
            height: 75.5208vw;
        }
        &__article-container {
            padding: 0;
            gap: 4.1667vw;
            min-width: 100%;
        }
        &__title-container {
            width: 65.1042vw;
        }
        &__benefits-list-container {
            width: 100%;
            padding: 0 0 2.0833vw 0;
            gap: 3.125vw;
        }
        &__benefit-container {
            gap: 1.0417vw;
            padding-right: 29.1667vw;
        }
        &__text {
            width: 52.0833vw;
            font-size: .9375rem;
        }
    }
}

@media (max-width: 526.02px) {
    .executors {
        padding: 14.9333vw 4.2667vw;
        &__content-wrapper {
            gap: 4.2667vw;
        }
        &__image-container {
            width: 100%;
            height: 90.2221vw;
            overflow: hidden;
        }
        &__image {
            width: 104.5333vw;
        }
        &__article-container {
            gap: 8.5333vw;
        }
        &__title-container {
            width: 100%;
        }
        &__benefits-list-container {
            padding: 0 0 4.2667vw 0;
            gap: 6.4vw;
        }
        &__benefit-container {
            height: 11.2vw;
            gap: 2.1333vw;
            padding-right: 8.5333vw;
        }
        &__icon {
            width: 10.6667vw;
            height: 10.6667vw;
        }
        &__text {
            width: 100%;
        }
    }
}